@using _8BallPool.Entities;
@using _8BallPool.Extentions;
@{
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Billiard Club</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_8BallPool.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">8BallPool</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (loggedUser != null)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Games
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @if (loggedUser != null)
                                    {
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="Index">Game</a>
                                    }
                                    @if (loggedUser != null && loggedUser.IsAdmin)
                                    {
                                        <a class="dropdown-item" asp-controller="Game" asp-action="Create">Create Game</a>
                                        <a class="dropdown-item" asp-controller="Game" asp-action="Admin">Admin</a>
                                    }
                                </div>
                            </li>


                        }
                        @if (loggedUser != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Table" asp-action="Index">Tables</a>
                            </li>
                        }
                        @if (loggedUser != null)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Game Reservations
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @if (loggedUser != null && loggedUser.IsAdmin)
                                    {
                                        <a class="dropdown-item" asp-controller="GameReservation" asp-action="Index">Admin</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="GameReservation" asp-action="ShowGameHistory">ShowGameHistory</a>
                                    }

                                    <a class="dropdown-item" asp-controller="GameReservation" asp-action="Create">Create Reservation</a>
                                    <a class="dropdown-item" asp-route-id="@loggedUser.Id" asp-controller="GameReservation" asp-action="MyReservation">My Reservations</a>
                                </div>
                            </li>
                        }
                        @if (loggedUser!= null)
                                    {
                           <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else{
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - 8BallPool - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
